<!-- banner start -->
<app-lyrics></app-lyrics>
<!-- banner end -->
 <div class="container">
	<div class="row">

	<h1>
		<a routerLink="/">Recent Activity  
			<i class="material-icons">chevron_right</i>
		</a>
	</h1>
	<app-lyrics-list></app-lyrics-list>

	</div>
 </div>

 <div class="container">
	<div class="row">

	<h1>Popular Movies</h1>
	<app-lyrics-list></app-lyrics-list>
	
	</div>
 </div>

 <div class="container">
	<div class="row">

	<h1>Popular Lyrics</h1>
	<app-lyrics-list></app-lyrics-list>
	
	</div>
 </div>

 <div class="container">
	<div class="row">

	<h1>Popular Artist</h1>
	<app-lyrics-list></app-lyrics-list>
	
	</div>
 </div>

  <div class="container">
	<div class="row">

	<h1>90's Hits</h1>
	<app-lyrics-list></app-lyrics-list>
	
	</div>
 </div>

   <div class="container">
	<div class="row">

	<h1>chiranjeevi hits</h1>
	<app-lyrics-list></app-lyrics-list>
	
	</div>
 </div>

	 